header {
    width: 100vw;
    height: 200px;
    border: 1px solid red;
    display: flex;
    justify-content: flex-start;
}
nav {
    position: fixed;
}

@media (max-width: 500px) {
    h1 {
        color: red;
}
